[Unit]
Description=DB Backup
After=mysql.service
Requires=mysql.service

[Service]
Type=oneshot
EnvironmentFile=/etc/marax.conf
User=root
ExecStart=/bin/bash -c "${SCRIPT_PATH}/db-backup.sh"
