[Unit]
Description=Pi-Hole Service
After=nginx-proxy.service stubby.service
Requires=nginx-proxy.service stubby.service

[Service]
Type=simple
TimeoutSec=120
Restart=on-failure
User=root
EnvironmentFile=/etc/marax.conf
ExecStartPre=-/usr/bin/docker pull pihole/pihole:latest
ExecStart=/usr/bin/docker run --rm \
-v ${MARAX_PATH}/pihole/pihole/:/etc/pihole/ \
-v ${MARAX_PATH}/pihole/dnsmasq.d/:/etc/dnsmasq.d/ \
-p ${MARAX_IP}:53:53/tcp \
-p ${MARAX_IP}:53:53/udp \
-e Ipv6="false" \
-e ServerIP=${MARAX_REVERSE_IP} \
-e VIRTUAL_HOST=pihole.${MARAX_DOMAIN} \
-e VIRTUAL_PORT=80 \
-e WEBPASSWORD=${MARAX_PIHOLE_PASS} \
-e DNS1=${MARAX_IP}#8053 \
-e DNS2=no \
-e DNSSEC="true" \
-e DNS_BOGUS_PRIV="false" \
-e DNS_FQDN_REQUIRED="true" \
--name pihole \
--network dns \
pihole/pihole:latest
ExecStartPost=/usr/bin/docker network connect frontend pihole
ExecStop=/usr/bin/docker stop pihole

[Install]
WantedBy=multi-user.target
